.delete {
	color: #ff0800;
}

.edit {
	color: #2ca02c;
}

.update-profile-btn {
	margin-top: 25px;
}

.language-card form {
	width: 50%;
	margin: 0 auto;
	text-align: center;
	padding-top: 25px;
	padding-bottom: 25px;
}

.language-card form label {
	margin-bottom: 10px;
	padding-right: 15px;
}
.language-card form input {
	margin-bottom: 20px;
	display: inline;
}

